@model  SmartEdu.ViewModel.PositionLevelViewModel
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;        
}
@Html.Partial("_Scripts")
@Html.Partial("_GridScript")
<div id="pageMainDiv" align="center" style="padding-top:50px;">
    <table cellpadding="0" cellspacing="0" border="0" style="width: 600px;">
        <tr>
            <td  class="gridAction">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="AddIcon">
                            <label onclick="fnAdd();">
                                Add
                            </label>
                        </td>
                        <td class="EditIcon">
                            <label onclick="fnEdit();">
                                Edit
                            </label>
                        </td>
                        <td class="DeleteIcon">
                            <label onclick="fnDelete();">
                                Delete
                            </label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div id="gridbox"  class="gridBox" style="width: 100%; overflow:auto;">
                </div>
                <div id="PostitonLevel"  class="gridAction" style="width:100%; float:left;" >
                    <span onclick="fnLoadGridByLevel(this)" parentId="0" class="heighlitter"> Root </span>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="contentWrapper" class="pageDimmer" style="display: none;">
</div>
<div id="popupBox" class="popup_Cotainer" style="display:none;" align="center">
   <table class="popup_Table">
   <tr>
   <td align="center" valign="middle">
   <div class="popupBox">
        <table cellpadding="0" cellspacing="0" border="0" class="popupBoxTable">
        <tr>
            <td class="popupHeader">
                <div class="popupHead">Good</div>
                <div class="closeIcon" onclick="fnShowhidePopUp('none');"></div>
            </td>
        </tr>
        <tr>
            <td id="popupContent" style="height:220px;" valign="middle" align="center">
                @using (Html.BeginForm("PositionLevelIUAction", "PositionLevel", FormMethod.Post))
                {
                    @Html.ValidationSummary(true)
                   <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                     <tr>
                        <td class="td_label">
                            @Html.Label("Parent Position")
                        </td>
                        <td id="parentName" style=" color:Red; text-align:left;">
                            Root
                        </td>
                    </tr>
                    <tr>
                        <td class="td_label">
                            @Html.Label("Code")
                        </td>
                        <td class="td_text">
                             @Html.EditorFor(model => model.APL_ShortName)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(model => model.APL_ShortName)               
                        </td>
                    </tr>
                    <tr>
                        <td class="td_label">
                            @Html.Label("Description")
                        </td>
                        <td class="td_text">
                             @Html.EditorFor(model => model.APL_Description)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(model => model.APL_Description)               
                        </td>
                    </tr>
                    <tr>
                        <td class="td_label">
                            @Html.Label("Role")
                        </td>
                        <td class="td_text">
                             @Html.DropDownListFor(model => model.APL_Role_Id,(Model.RoleList!=null?Model.RoleList:new List<SelectListItem>() { new SelectListItem() { Text = "Select", Value = "0" } }))
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(model => model.APL_Role_Id)               
                        </td>
                    </tr>
                    @*<tr>
                        <td class="td_label">
                            @Html.Label("Is BaseLevel")
                        </td>
                        <td class="td_text">
                             @Html.CheckBoxFor(model => model.APL_IsBaseLevel)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(model => model.APL_IsBaseLevel)               
                        </td>
                    </tr>
                    <tr>
                        <td class="td_label">
                            @Html.Label("Base Level")
                        </td>
                        <td class="td_text">
                             @Html.DropDownListFor(model => model.APL_BaseLevel_Id, new List< SelectListItem >(){ new SelectListItem(){ Text="Select", Value="0"}})
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            @Html.ValidationMessageFor(model => model.APL_Description)               
                        </td>
                    </tr>*@
                    <tr>
                        <td>@Html.HiddenFor(model => model.APL_ID)</td>
                        <td>@Html.HiddenFor(model => model.APL_Parent_Id)</td>
                    </tr>
                   </table>
                }
            </td>
        </tr>
        <tr>
            <td align="center">
                <input type="button" value="save" onclick="fnSave();"/>
            </td>
        </tr>
   </table>
   </div>
   </td>
   </tr>
   </table>
</div>
<script type="text/javascript">
    $(function(){
        fnSetPageSize();
         init();
         fnLoadGrid(0);
    });
    var mygrid;
    function fnAdd() {
        fnClearContent();
        fnShowhidePopUp("");
    }
    function init() {
        mygrid = new dhtmlXGridObject('gridbox');
        mygrid.setImagePath("@Url.Content("~/Content/GridData/imgs/")"); //path to images required by grid
        mygrid.setHeader(",Short Name,Description,IsBase,Base Level,Role,"); //set column names
        mygrid.setInitWidths("0,*,*,*,0,*,0"); //set column width in px
        mygrid.setColAlign("left,left,left,left,left,left,left"); //set column values align
        mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro"); //set column types
        mygrid.setColSorting("str,str,str,str,str,str,str"); //set sorting
        mygrid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter");
        mygrid.init(); //initialize grid
        mygrid.attachEvent("onRowDblClicked",function(rId,cInd){fnLoadByParent(rId);});
        $("#APL_Parent_Id").val("0");
    }
    function fnLoadByParent(rId){
        fnLoadGrid(rId);
        fnSetParentName();
    }
    function fnSetParentName(){
        var rId=mygrid.getSelectedRowId();
        $("#parentName").html(mygrid.cells(rId,2).getValue());
        $("#APL_Parent_Id").val(rId);
        fnAppendLevel(rId,mygrid.cells(rId,2).getValue());
    }
    function fnSetPageSize(){
        $("#gridbox").height(String(parent.ContentHeight()-150-30)+"px");
        $("#pageMainDiv").height(String(parent.ContentHeight()-50)+"px");
    }
    function fnShowhidePopUp(val){
       $("#contentWrapper").css("display", val);
       $("#popupBox").css("display",val);
    }
    function fnLoadGrid(parentId){
        $.ajax({
            url:'@Url.Content("~/PositionLevel/GetGridData")',
            type:"POST",
            dataType:"Json",
            data:{"parentId":parentId},
            success:function(obj){
                if(obj && obj!=null){mygrid.clearAll();mygrid.parse(obj,"json");}
            },
            error:function(a,b){}
        });
    }
    function fnDelete(){
        var id=mygrid.getSelectedRowId();
        if(id==null || id==""){ alert("Need Selection"); return false;}
        $.ajax({
            url:'@Url.Content("~/PositionLevel/Delete")',
            type:"POST",
            dataType:"Json",
            data:{"id":id},
            success:function(obj){
                if(obj && obj!=null){
                   if(obj.data && obj.data!=null){
                        mygrid.clearAll();
                        mygrid.parse(obj.data,"json");
                    }
                    if(obj.Msg && obj.Msg!=""){alert(obj.Msg);}
                } 
            },
            error:function(a,b){}
        });
    }
    function fnEdit(){
        var id=mygrid.getSelectedRowId();
        if(id==null || id==""){ alert("Need Selection"); return false;}
        fnFillEditData(id);
         fnShowhidePopUp("");
    }
    function fnFillEditData(id){
        $("#APL_ID").val(id);
        $("#APL_ShortName").val(mygrid.cells(id,1).getValue());
        $("#APL_Description").val(mygrid.cells(id,2).getValue());
       // $("#APL_IsBaseLevel").attr("checked",(mygrid.cells(id,2).getValue()=="True"?true:false));
       // $("#APL_BaseLevel_Id").val(mygrid.cells(id,4).getValue());
        $("#APL_Role_Id").val(mygrid.cells(id,6).getValue());
    }
    
    function fnSave(){
        $.ajax({
            url:'@Url.Content("~/PositionLevel/PositionLevelIUAction")',
            type:"POST",
            contentType:"application/Json",
            dataType:"JSON",
            data:JSON.stringify(fnGetViewModel()),
            success:function(obj){
               if(obj && obj!=null){
                    if(obj.Status){
                        if(obj.data && obj.data!=null){mygrid.clearAll();mygrid.parse(obj.data,"json");}
                        if(obj.isUpdate){ fnShowhidePopUp("none");}
                        else{fnClearContent();}
                    }
                    if(obj.Msg && obj.Msg!=""){alert(obj.Msg);}
                } 
            },
            error:function(a,b){}
        });
    }
    function fnGetViewModel(){
        var PositionLevelViewModel={};
        PositionLevelViewModel.APL_ID=$("#APL_ID").val();
        PositionLevelViewModel.APL_Parent_Id=$("#APL_Parent_Id").val();
        PositionLevelViewModel.APL_ShortName=$("#APL_ShortName").val();
        PositionLevelViewModel.APL_Description=$("#APL_Description").val();
       // PositionLevelViewModel.APL_IsBaseLevel=$("#APL_IsBaseLevel").val();
       // PositionLevelViewModel.APL_BaseLevel_Id=$("#APL_BaseLevel_Id").val();
       PositionLevelViewModel.APL_Role_Id=$("#APL_Role_Id").val();
        return PositionLevelViewModel;
    }
    function fnClearContent(){
        $("#APL_ID").val("0");
        $("#APL_ShortName").val("");
        $("#APL_Description").val("");
        $("#parentName").val("");
        $("#APL_Role_Id").val("0");
      //  $("#APL_IsBaseLevel").removeAttr("checked");
      //  $("#APL_BaseLevel_Id").val("0");
    }
    function fnLoadGridByLevel(obj){
        fnClearClass();
        $(obj).nextAll("span").remove();
        $(obj).addClass("heighlitter");
        fnLoadGrid($(obj).attr("parentId"));
        $("#APL_Parent_Id").val($(obj).attr("parentId"));
        $("#parentName").html($(obj).html());
    }
    function fnAppendLevel(parentId,name){
        fnClearClass();
        var content="<span> - </span><span class='heighlitter' onclick='fnLoadGridByLevel(this);' parentId="+parentId+" >"+name+"</span>";
        $("#PostitonLevel").append(content);
    }
    function fnClearClass(){
        $("#PostitonLevel").children().removeClass("heighlitter");
    }
</script>

