@model SmartEdu.ViewModel.SemesterViewModel
@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;        
}
@Html.Partial("_Scripts")
@Html.Partial("_GridScript")
<div id="pageMainDiv" align="center" style="padding-top: 50px;">
    <table cellpadding="0" cellspacing="0" border="0" style="width: 800px;">
        <tr>
            <td class="gridAction" colspan="2">
                <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="AddIcon">
                            <label onclick="fnAdd();">
                                Add
                            </label>
                        </td>
                        <td class="EditIcon">
                            <label onclick="fnEdit('0',false);">
                                Edit
                            </label>
                        </td>
                        <td class="DeleteIcon">
                            <label onclick="fnDelete();">
                                Delete
                            </label>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="gridbox" class="gridBox" style="width: 100%; overflow: auto;">
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="contentWrapper" class="pageDimmer" style="display: none;">
</div>
<div id="popupBox" class="popup_Cotainer" style="display: none;" align="center">
    <table class="popup_Table">
        <tr>
            <td align="center" valign="middle">
                <div class="popupBox" style="width: 600px;">
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%;" class="popupBoxTable">
                        <tr>
                            <td class="popupHeader">
                                <div class="popupHead" id="popUpHeader">
                                    Good</div>
                                <div class="closeIcon" onclick="fnShowhidePopUp('none');">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td id="popupContent" style="height: 220px;" valign="middle" align="center">
                                @using (Html.BeginForm("SemesterIUAction", "Semester", FormMethod.Post))
                                {
                                    @Html.ValidationSummary(true)
                                    <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;">
                                         <tr>
                                            <td class="td_label">
                                                @Html.Label("Code")
                                            </td>
                                            <td class="td_text">
                                                 @Html.TextBoxFor(model => model.AS_Code)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Html.ValidationMessageFor(model => model.AS_Code)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_label">
                                                @Html.Label("Description")
                                            </td>
                                            <td class="td_text">
                                                   @Html.TextBoxFor(model => model.AS_Description)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Html.ValidationMessageFor(model => model.AS_Description)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_label">
                                                @Html.Label("Graduation")
                                            </td>
                                            <td class="td_text">
                                                @Html.DropDownListFor(model => model.AS_Graduate,(Model.GraduationList!=null?Model.GraduationList:new List<SelectListItem>()))
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Html.ValidationMessageFor(model => model.AS_Graduate)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_label">
                                                @Html.Label("Degree")
                                            </td>
                                            <td class="td_text">
                                                @Html.DropDownListFor(model => model.AS_Degree,new List<SelectListItem>(),"- Select -")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Html.ValidationMessageFor(model => model.AS_Degree)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="td_label">
                                                @Html.Label("Batch")
                                            </td>
                                            <td class="td_text">
                                                 @Html.DropDownListFor(model => model.AS_BatchId, new List<SelectListItem>(), "- Select -")
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                @Html.ValidationMessageFor(model => model.AS_BatchId)
                                            </td>
                                        </tr>
                                     
                                        <tr>
                                            <td colspan="2">
                                                @Html.HiddenFor(model => model.AS_Id)
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <input type="button" value="save" onclick="fnSave();" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    $(function(){
        fnSetPageSize();
        init();
        $("#AS_Graduate").change(function(){$("#AS_Degree option").remove(); if($("#AS_Graduate").val()=="0"){return false;}else{fnLoadDegreeList();}});
        $("#AS_Degree").change(function(){ 
            $("#AS_BatchId option").remove();
            if($("#AS_Degree").val()=="0"){$("#AS_Degree").append($('<option>',{ value : "0" }).text("- Select -"));return false;}
            else{fnLoadBatchList();}
        });
    });
    var mygrid;
    function fnAdd() {
        fnClearContent();
        $("#popUpHeader").html("Add");
        fnShowhidePopUp("");
    }
    function fnLoadDegreeList(){
        $.ajax({
            url:'@Url.Content("~/Semester/GetDegreeList")',
            type:"POST",
            dataType:"Json",
            data:{"graduationId":$("#AS_Graduate").val()},
            success:function(obj){
                if(obj && obj!=null){
                    $(obj).each(function(){
                    $("#AS_Degree").append($('<option>',{ value : this.Value , selected : this.Selected}).text(this.Text));
                    });
                } 
            },
            error:function(a,b){}
        });
    }
    function fnLoadBatchList(){
        $.ajax({
            url:'@Url.Content("~/Semester/GetBatchList")',
            type:"POST",
            dataType:"Json",
            data:{"graduationId":$("#AS_Graduate").val(),"degreeId":$("#AS_Degree").val()},
            success:function(obj){
                if(obj && obj!=null){
                    $(obj).each(function(){ $("#AS_BatchId").append($('<option>',{ value : this.Value , selected : this.Selected}).text(this.Text));});
                } 
            },
            error:function(a,b){}
        });
    }
    function init() {
        mygrid = new dhtmlXGridObject('gridbox');
        mygrid.setImagePath("@Url.Content("~/Content/GridData/imgs/")"); //path to images required by grid
        mygrid.setHeader(",,,Graduate,Degree,Department,Batch,Code,Description,Effective From,"); //set column names
        mygrid.setInitWidths("0,0,0,100,100,100,100,100,*,100,0"); //set column width in px
        mygrid.setColAlign("left,left,left,left,left,left,left,left,left,left,left"); //set column values align
        mygrid.setColTypes("ro,ro,ro,ro,ro,ro,ro,ro,ro,ro,ro"); //set column types
        mygrid.setColSorting("str,str,str,str,str,str,str,str,str,str,str"); //set sorting
        mygrid.attachHeader("#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter");
        mygrid.init(); //initialize grid
        mygrid.attachEvent("onRowDblClicked",function(rId,cInd){fnEdit(rId,true);});
        fnLoadGrid();
    }
    function fnSetPageSize(){
        $("#gridbox").height(String(parent.ContentHeight()-150)+"px");
        $("#pageMainDiv").height(String(parent.ContentHeight()-50)+"px");
    }
    function fnShowhidePopUp(val){
       $("#contentWrapper").css("display", val);
       $("#popupBox").css("display",val);
    }
    function fnLoadGrid(){
        $.ajax({
            url:'@Url.Content("~/Semester/GetSemesterGridData")',
            type:"POST",
            dataType:"Json",
            data:{},
            success:function(obj){
                if(obj && obj!=null){fnParseGrid(obj);}
            },
            error:function(a,b){}
        });
    }
    function fnParseGrid(obj){
        if(obj && obj!=null){mygrid.clearAll();mygrid.parse(obj,"json");}
    }
    function fnDelete(){
        var id=mygrid.getSelectedId();
        if(id==null || id==""){ alert("Need Selection"); return false;}
        $.ajax({
            url:'@Url.Content("~/Semester/DeleteSemester")',
            type:"POST",
            dataType:"Json",
            data:{"semesterId":id},
            success:function(obj){
                if(obj && obj!=null){
                    fnParseGrid(obj.GridData);
                    if(obj.Msg && obj.Msg!=""){alert(obj.Msg);}
                } 
            },
            error:function(a,b){}
        });
    }
    function fnEdit(id,flag){
        if(!flag){id=mygrid.getSelectedId();}
        if(id==null || id==""){ alert("Need Selection"); return false;}
        fnShowhidePopUp("");
        $("#popUpHeader").html("Edit");
        fnFillEditData();
    }
    function fnFillEditData(){
        $("#AS_Id").val(mygrid.getSelectedRowId());
        $("#AS_Graduate").val(mygrid.cells(mygrid.getSelectedRowId(),0).getValue());
        $("#AS_Degree").val(mygrid.cells(mygrid.getSelectedRowId(),1).getValue());
        $("#AS_BatchId").val(mygrid.cells(mygrid.getSelectedRowId(),2).getValue());
        $("#AS_Code").val(mygrid.cells(mygrid.getSelectedRowId(),7).getValue());
        $("#AS_Description").val(mygrid.cells(mygrid.getSelectedRowId(),8).getValue());
        $("#AS_StartDate").val(mygrid.cells(mygrid.getSelectedRowId(),9).getValue());
        $("#AS_EndDate").val(mygrid.cells(mygrid.getSelectedRowId(),10).getValue());
    }
    function fnClearContent(){
        $("#AS_Id").val("0");
        $("#AS_Graduate").val("0");
        $("#AS_Degree").val("0");
        $("#AS_BatchId").val("0");
        $("#AS_Code").val("");
        $("#AS_Description").val("");
        $("#AS_StartDate").val("");
        $("#AS_EndDate").val("");
    }
    function fnSave(){
        $.ajax({
            url:'@Url.Content("~/Semester/SemesterIUAction")',
            type:"POST",
            contentType:"application/Json",
            dataType:"JSON",
            data:JSON.stringify(fnGetViewModel()),
            success:function(obj){
               if(obj && obj!=null){
                    if(obj.Status){
                        if(obj.GridData && obj.GridData!=null){mygrid.clearAll();mygrid.parse(obj.GridData,"json");}
                        if(obj.isUpdate){ fnShowhidePopUp("none");}
                        else{fnClearContent();}
                    }
                    if(obj.Msg && obj.Msg!=""){alert(obj.Msg);}
                } 
            },
            error:function(a,b){}
        });
    }
    function fnGetViewModel(){
        var SemesterViewModel={};
        SemesterViewModel.AS_Id=$("#AS_Id").val();
        SemesterViewModel.AS_Description=$("#AS_Description").val();
        SemesterViewModel.AS_Code=$("#AS_Code").val();
        SemesterViewModel.AS_BatchId=$("#AS_BatchId").val();
        SemesterViewModel.AS_StartDate=$("#AS_StartDate").val();
        SemesterViewModel.AS_EndDate=$("#AS_EndDate").val();
        return SemesterViewModel;
    }
</script>
