@model SmartEdu.ViewModel.AuthenticationViewModel
<div style="width: 100%; height: 100%;">
     @using (Html.BeginForm("AuthenticationIUAction", "Login", FormMethod.Post, new { id="authForm"}))
     {
            @Html.ValidationSummary(true)
            <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;">
                <tr>
                    <td class="td_label">
                        @Html.Label("User Name")
                    </td>
                    <td class="td_text">
                        @Html.TextBoxFor(model => model.AUT_Login_Id)
                    </td>
                    <td><a href="#" onclick="fnCheckUserAvailable();">Check Available</a></td>
                    <td>
                        <label id="user_Msg"></label>
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.ValidationMessageFor(model => model.AUT_Login_Id)
                    </td>
                </tr>
                <tr>
                    <td class="td_label">
                        @Html.Label("Password")
                    </td>
                    <td class="td_text">
                        @Html.PasswordFor(model => model.AUT_Password)
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.ValidationMessageFor(model => model.AUT_Password)
                    </td>
                </tr>
                <tr>
                    <td class="td_label">
                        @Html.Label("Confirm Password")
                    </td>
                    <td class="td_text">
                        @Html.PasswordFor(model => model.AUT_Confirm_Password)
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.ValidationMessageFor(model => model.AUT_Confirm_Password)
                    </td>
                </tr>
                <tr>
                    <td class="td_label">
                        @Html.Label("Question")
                    </td>
                    <td class="td_text">
                        @Html.DropDownListFor(model => model.AUT_Question, (Model.QuestionList != null ? Model.QuestionList : new List<SelectListItem>()))
                    </td>
                    <td colspan="2">
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        @Html.ValidationMessageFor(model => model.AUT_Question)
                    </td>
                </tr>
                <tr>
                    <td class="td_label">
                        @Html.Label("Answer")
                    </td>
                    <td class="td_text">
                    @Html.TextBoxFor(model => model.AUT_Answer)
                    </td>
                    @if (Model.NeedToShowRole)
                    {
                     <td class="td_label">
                        @Html.Label("Role")
                    </td>
                    <td class="td_text">
                        @Html.DropDownListFor(model => model.AUT_RoleId, (Model.RoleList != null ? Model.RoleList : new List<SelectListItem>()))
                    </td>
                    }
                    else
                    { <td colspan="2">
                    </td>}
                </tr>
                <tr>
                    <td colspan="2">
                        @Html.ValidationMessageFor(model => model.AUT_Answer)
                    </td>
                    @if (Model.NeedToShowRole)
                    {
                        
                    }
                    else { }
                </tr>
                <tr>
                    <td colspan="4">
                    @Html.HiddenFor(model => model.AUT_Id)
                    </td>
                </tr>
            </table>
     }
</div>

<script type="text/javascript">
    function fnGetAuthenticationData() {
        var AuthenticationViewModel = {};
        AuthenticationViewModel.AUT_Id = $("#AUT_Id").val();
        AuthenticationViewModel.AUT_Login_Id = $("#AUT_Login_Id").val();
        AuthenticationViewModel.AUT_Password = $("#AUT_Password").val();
        AuthenticationViewModel.AUT_Confirm_Password = $("#AUT_Confirm_Password").val();
        AuthenticationViewModel.AUT_Question = $("#AUT_Question").val();
        AuthenticationViewModel.AUT_Answer = $("#AUT_Answer").val();
        return AuthenticationViewModel;
    }
    function fnValidateAuthentication() { return $("#authForm").valid(); }
    function fnCheckUserAvailable() {
        $.ajax({
            url: '@Url.Content("~/Staff/IsUserAvailable")',
            type: "POST",
            dataType: "json",
            data: { "loginId": $("#AUT_Login_Id").val() },
            success: function (obj) {
                if (obj && obj != null) { if (obj.Msg && obj.Msg != null) { $("#user_Msg").html(obj.Msg); } }
            },
            error: function (a, b) { }
        });
    }
</script>

